body {
  margin: 0;
  background: white;
}

.ant-table {
  border: 0.5px solid #ccc;
}

.ant-table thead > tr > th {
  background-color: rgb(167, 166, 166) !important;
  font-weight: bold;
  border-bottom: 1px solid #999;
}

.ant-table tbody > tr > td {
  border-bottom: 1px solid #eee;
}
